<!DOCTYPE html>
<html>
    <head>
        <title>Psst</title>
        <link rel="stylesheet/less" type="text/css" href="less/app.less">

        <script src="vendor/web3.js"></script>
        <script src="vendor/underscore-min.js"></script>
        <script src="vendor/jquery-2.1.4.min.js"></script>
        <script src="vendor/backbone-min.js"></script>
        <script src="vendor/backbone.marionette.min.js"></script>
        <script src="vendor/less.min.js"></script>
        <script src="vendor/coffee-script.js"></script>
    </head>
    <body>

        <div id="chat">
            <div id="channels">
                <h1>Psst</h1>
                <div id="server" class="">
                    Host: <span class="host"></span>:<span class="port"></span>
                    <br/>
                    <span class="status"></span>
                </div>
                <div>Channels:</div>
                <ul>
                    <li class="channelName active">general</li>
                </ul>
            </div>
            <div id="currentChannel" class="channelName">general</div>
            <div id="output">
                
            </div>
            <div id="input">
                <textarea placeholder="Type something..."></textarea>
            </div>
        </div>

        <script type="text/coffeescript">

            

            host = "localhost"
            port = 8545
            document.querySelector('#server .host').innerHTML = host
            document.querySelector('#server .port').innerHTML = port

            hostStatus = "Connecting..."
            try
                endpoint = "http://#{ host }:#{ port }"
                httpProvider = new web3.providers.HttpProvider( endpoint )
                web3.setProvider( httpProvider )
            catch err
                hostStatus = "Failed!"
            
            try 
                hostStatus = "Connected" if web3.eth.coinbase
            catch err
                hostStatus = "Failed!"


            identity = localStorage.getItem( 'psstIdentity' )
            unless identity
                identity = web3.shh.newIdentity()
                localStorage.setItem( 'psstIdentity', identity )


            document.querySelector('#server .status').innerHTML = hostStatus;


            document.querySelector('#input textarea').onkeypress = (ev) ->
                if ev.keyCode is 13
                    web3.shh.post
                        topics: ["psst"]
                        payload: [ev.target.value]
                        ttl: 100
                        from: identity
                    
                    ev.target.value = ""

            messagesRegion = new Marionette.Region( el: $('#output') )

            class MessageView extends Marionette.ItemView
                className: 'message'
                template: _.template """
                    <span class="sent"><%- getTime() %></span>
                    <span class="from"><%- from %></span>
                    <span class="payload"><%- payload[0] %></span>
                """

                templateHelpers:
                    getTime: ->
                        time = new Date( @sent )
                        "#{ time.getHours() }:#{ time.getMinutes() }"

            class MessageCollectionView extends Marionette.CollectionView
                childView: MessageView

            psstFilter = web3.shh.filter( topics: ["psst"] )

            collectionView = new MessageCollectionView( collection: new Backbone.Collection() )

            messagesRegion.show( collectionView )

            psstFilter.watch (err,resp) ->
                collectionView.collection.add( resp )

        </script>
    </body>
</html>