<!DOCTYPE html>
<html>
    <head>
        <title>Psst</title>
        <link rel="stylesheet/less" type="text/css" href="less/app.less">

        <script src="vendor/web3.js"></script>
        <script src="vendor/underscore-min.js"></script>
        <script src="vendor/jquery-2.1.4.min.js"></script>
        <script src="vendor/backbone-min.js"></script>
        <script src="vendor/backbone.marionette.min.js"></script>
        <script src="vendor/less.min.js"></script>
        <script src="vendor/coffee-script.js"></script>
    </head>
    <body>

	<div id="overlay"></div>

        <div id="chat">
            <div id="channels">
                <h1>Psst</h1>
                <div id="server" class="">
                    Host: <span class="host"></span>:<span class="port"></span>
                    <br/>
                    <span class="status"></span>
                </div>
                <div>Channels:</div>
                <ul>
                    <li class="channelName active">general</li>
                </ul>
            </div>
            <div id="currentChannel" class="channelName">general</div>
            <div id="output">
                
            </div>
            <div id="input">
                <textarea placeholder="Type something..."></textarea>
            </div>
        </div>

        <script type="text/coffeescript">


	    class ConnectionView extends Marionette.ItemView
		className: 'connection-view'
		template: _.template """
		    <p>Select a Whisper capable Ethereum node to connect to:</p>
		    <div class="server selected">
			<div class="row">
			    Host: <span class="host">localhost</span>
			</div>
			<div class="row">
			    Port: <span class="port">8545</span>
			</div>
		    </div>
		    <div class="server">
			<div class="row">
			    Host: <input class="host" type="text" value="eth.datagotchi.com" />
			</div>
			<div class="row">
			    Port: <input class="port" type="number" value="80" />
			</div>
		    </div>
		    <button class="connect">Connect</button>
		"""
		events:
		    'click .server': '_handleSelectServer'
		    'click button.connect': '_handleClickConnect'

		_handleClickConnect: ->
		    host = @$('.server.selected .host').val?() or $('.server.selected .host').text()
		    port = @$('.server.selected .port').val?() or $('.server.selected .port').text()
		    @listenToOnce( new Connection( {host, port} ), 'connected', @_handleConnected )

		_handleSelectServer: (ev) ->
		    @$( '.server' ).removeClass('selected')
		    @$( ev.target ).closest('.server').addClass('selected')

		_handleConnected: ->
		    @close()

            class MessageView extends Marionette.ItemView
                className: 'message'
                template: _.template """
                    <span class="sent"><%- getTime() %></span>
                    <span class="from"><%- from %></span>
                    <span class="payload"><%- payload[0] %></span>
                """

                templateHelpers:
                    getTime: ->
                        time = new Date( @sent )
                        "#{ time.getHours() }:#{ time.getMinutes() }"

            class MessageCollectionView extends Marionette.CollectionView
                childView: MessageView


	    overlayRegion = new Marionette.Region( el: $('#overlay')[0] )
	    overlayRegion.show( new ConnectionView() )

	    class Connection
		constructor: ({@host, @port}) ->
		    document.querySelector('#server .host').innerHTML = @host
		    document.querySelector('#server .port').innerHTML = @port

		    hostStatus = "Connecting..."
		    try
			endpoint = "http://#{ @host }:#{ @port }"
			httpProvider = new web3.providers.HttpProvider( endpoint )
			web3.setProvider( httpProvider )
		    catch err
			hostStatus = "Failed!"

		    try
			hostStatus = "Connected" if web3.eth.coinbase
		    catch err
			hostStatus = "Failed!"

		    identity = localStorage.getItem( 'psstIdentity' )
		    unless identity
			identity = web3.shh.newIdentity()
			localStorage.setItem( 'psstIdentity', identity )


		    document.querySelector('#server .status').innerHTML = hostStatus


		    document.querySelector('#input textarea').onkeypress = (ev) ->
			if ev.keyCode is 13
			    web3.shh.post
				topics: ["psst"]
				payload: [ev.target.value]
				ttl: 100
				from: identity

			    ev.target.value = ""

		    messagesRegion = new Marionette.Region( el: $('#output') )
		    psstFilter = web3.shh.filter( topics: ["psst"] )

		    collectionView = new MessageCollectionView( collection: new Backbone.Collection() )

		    messagesRegion.show( collectionView )

		    psstFilter.watch (err,resp) ->
			collectionView.collection.add( resp )

        </script>
    </body>
</html>